/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f1e5; /* Warna krem */
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #42210b; /* Warna coklat tua */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #ff8100; /* Warna oren */
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Bayangan teks */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; /* Transisi warna */
}

nav ul li a:hover {
    color: #ff8100; /* Warna oren */
}

#banner {
    background-image: url('kopi.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 200px 0;
}

#banner h2 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Bayangan teks */
}

.btn {
    display: inline-block;
    background-color: #ff8100; /* Warna oren */
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #6e381b; /* Warna coklat tua */
}

section {
    padding: 80px 0;
}

section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: #ff8100; /* Warna oren */
    text-transform: uppercase; /* Huruf besar */
    letter-spacing: 2px; /* Spasi antar huruf */
}

.menu-item {
    text-align: center;
    margin-bottom: 40px;
}

.menu-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #42210b; /* Warna coklat tua */
}

.menu-item p {
    font-size: 18px;
    color: #555;
    line-height: 1.6; /* Jarak antar baris */
}

footer {
    background-color: #42210b; /* Warna coklat tua */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 4px solid #ff8100; /* Warna oren */
}

footer p {
    font-size: 16px;
    margin-top: 10px;
}
